<a href="/post/new/{{classId}}">Create a post</a>
{{#if instructor}}
<a href="/class/edit/{{classId}}">Edit this class</a>
{{/if}}
{{#if postsExist }}
{{#if tags}}
<div id="class-tags">
        {{#each tags}}
        <li class="class-tag"><a href="/class/{{{../classId}}}?tag={{{this}}}">{{{this}}}</a></li>
        {{/each}}
</div>
{{else}}
<p>There are no tags for this class.</p><!-- Feel free to change this -->
{{/if}}
{{#if filteredPostsExist}}
{{#each data}}
<li>
        <a href="/post/{{ids}}">{{title}}</a>
        <ul class="comments">
                {{#each comments}}
                <li>{{{content}}} by {{{author}}} on {{{time_submitted}}}</li>
                {{/each}}
        </ul>
        <form class="comment-form" action="/api/comment" method="POST">
                <input type="text" name="comment-content" id="comment-content">
                <input type="hidden" name="parent-id" id="parent-id" value="{{{ids}}}">
                <button type="submit">Post</button>
        </form>
</li>
{{/each}}
{{else}}
<p>There are no posts matching the filter.</p>
{{/if}}
{{else}}
<p>Sorry, there are no posts currently available for this class. Make the first one!</p>
{{/if}}