<link rel="stylesheet" href="/public/styles/dashboard-right.css">

<a href="/class/{{classId}}" class='View'>View Class Page</a>
<a href="/post/new/{{classId}}" class='View'>Create New Post</a>
{{#if instructor}}
<a href="/class/edit/{{classId}}">Edit this class</a>
{{/if}}
{{#if postsExist }}
{{#if tags}}
<div id="class-tags">
        <h2>Tags</h2>
        <ul>
                {{#each tags}}
                <li class="class-tag "><a class="tags" href="/class/{{{../classId}}}?tag={{{this}}}">{{{this}}}</a></li>
                {{/each}}
        </ul>
</div>
{{else}}
<p>There are no tags for this class.</p><!-- Feel free to change this -->
{{/if}}
{{#if filteredPostsExist}}
<h2>Posts</h2>

<ul class='post-list'>

        {{#each data}}
        {{#if endorse}}
        <li class="post post-endorse" id="{{{ids}}}" style="background-color: white; overflow: hidden;">
                {{else}}
        <li class="post" id="{{{ids}}}" style="background-color: white; overflow: hidden;">
                {{/if}}
                <div class="View2">
                        <a href="/post/{{ids}}" class="post-title">{{title}}</a>

                </div>
                <div class="feedback" id="feedback-{{{ids}}}">
                        {{#if ../instructor}}
                        {{#if endorse}}
                        <button class='endorse-button' id="unendorse-{{{ids}}}">Un-endorse Post</button>
                        {{else}}
                        <button class='endorse-button' id="endorse-{{{ids}}}">Endorse Post</button>
                        {{/if}}
                        {{else}}
                        {{#if upvoted}}
                        <div class="vote-button" id="unupvote-{{{ids}}}"><img src="/public/img/full_like.svg"
                                        class="like_button" alt="Remove Upvote Button"></div>
                        {{else}}
                        <div class="vote-button" id="upvote-{{{ids}}}"><img src="/public/img/empty_like.svg"
                                        class="like-button" alt="Upvote Button"></div>
                        {{/if}}
                        {{/if}}
                        <span class="score" id="post-score-{{{ids}}}">{{{score}}}</span>
                </div>
                <div class="desc" style="overflow-y: scroll; margin-bottom: 10px;">{{{body}}}</div>
                <div class="comments">
                        <ul class="comments_list">
                                {{#each comments}}
                                {{#if endorse}}
                                <li class="comment-endorse" id="comment-{{{_id}}}">
                                        {{else}}
                                <li id="comment-{{{_id}}}">
                                        {{/if}}
                                        {{content}} by {{{author}}} on {{{time_submitted}}}
                                        <span class="score" id="comment-score-{{{_id}}}">{{{score}}}</span>
                                        {{#if ../../instructor}}
                                        {{#if endorse}}
                                        <button class='endorse-comment-button'
                                                id="unendorse-{{{_id}}}">Un-endorse</button>
                                        {{else}}
                                        <button class='endorse-comment-button' id="endorse-{{{_id}}}">Endorse</button>
                                        {{/if}}
                                        {{else}}
                                        {{#if upvoted}}
                                        <div class="vote-comment-button" id="unupvote-{{{_id}}}"><img
                                                        src="/public/img/full_like.svg" class='like_button'
                                                        alt="Remove Upvote Button"></div>
                                        {{else}}
                                        <div class="vote-comment-button" id="upvote-{{{_id}}}"><img
                                                        src="/public/img/empty_like.svg" class="like_button"
                                                        alt="Upvote Button"></div>
                                        {{/if}}
                                        {{/if}}
                                </li>

                                {{/each}}
                        </ul>
                </div>
                <form class="comment-form" action="/api/comment" method="POST" id="commentform-{{{ids}}}">
                        <label for="comment-content-{{{ids}}}">Type a comment:</label>
                        <input type="text" name="comment-content" id="comment-content-{{{ids}}}">
                        <input type="hidden" name="parent-id" id="parent-id-{{{ids}}}" value="{{{ids}}}">
                        <button type="submit">Post</button>
                </form>

        </li>
        {{/each}}
</ul>
{{else}}
<p>There are no posts matching the filter.</p>
{{/if}}
{{else}}
<p>Sorry, there are no posts currently available for this class. Make the first one!</p>
{{/if}}