<div class="container cornsilk">
    {{#if error}}
    <h1>{{{error}}}</h1>
    {{else}}
    <h1>{{{courseName}}}</h1>
    {{#if instructor}}
        <a href="/class/edit/{{classId}}">Edit this class</a>
    {{/if}}
    <div id="class-content">
        {{#if postsExist }}
        {{#if tags}}
        <div id="class-tags">
            {{#each tags}}
            <li class="class-tag"><a href="/class/{{{../classId}}}?tag={{{this}}}">{{{this}}}</a></li>
            {{/each}}
            <button id="reset-filter" hidden>Reset Filter</button>
        </div>
        {{else}}
        <p>There are no tags for this class.</p><!-- Feel free to change this -->
        {{/if}}
        <ul id="post-list">
            {{#each data}}
            <li id="{{{ids}}}">
                <a href="/post/{{ids}}">{{title}}</a>
                <div class="post-body">
                    {{{body}}}
                </div>
                <ul class="tags">
                    {{#each tags}}
                    <ul id="{{{this}}}">{{{this}}}</ul>
                    {{/each}}
                </ul>
                <ul class="comments">
                    {{#each comments}}
                    <li id="{{{_id}}}">
                        {{{content}}} by {{{author}}} on {{{time_submitted}}}
                        <span class="score" id="comment-score">{{{score}}}</span>

                        {{#if ../../instructor}}
                        {{#if endorse}}
                        <button class='endorse-comment-button' id="unendorse">Un-endorse</button>
                        {{else}}
                        <button class='endorse-comment-button' id="endorse">Endorse</button>
                        {{/if}}
                        {{else}}
                        {{#if upvoted}}
                        <button class="vote-comment-button" id="unupvote">-1</button>
                        {{else}}
                        <button class="vote-comment-button" id="upvote">+1</button>
                        {{/if}}
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
                <form class="comment-form" action="/api/comment" method="POST">
                    <input type="text" name="comment-content" id="comment-content">
                    <input type="hidden" name="parent-id" id="parent-id" value="{{{ids}}}">
                    <button type="submit">Post</button>
                </form>
                <div class="feedback" id="{{{ids}}}">
                    <span class="score" id="post-score">{{{score}}}</span>
                    {{#if ../instructor}}
                    {{#if endorse}}
                    <button class='endorse-button' id="unendorse">Un-endorse Post</button>
                    {{else}}
                    <button class='endorse-button' id="endorse">Endorse Post</button>
                    {{/if}}
                    {{else}}
                    {{#if upvoted}}
                    <button class="vote-button" id="unupvote">-1</button>
                    {{else}}
                    <button class="vote-button" id="upvote">+1</button>
                    {{/if}}
                    {{/if}}
                </div>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>Sorry, there are no posts currently available for this class. Make the first one!</p>
        {{/if}}
    </div>
    {{/if}}
</div>

<script src="/public/js/view_class.js"></script>
<script src="/public/js/endorse.js"></script>
<script src="/public/js/endorse_comment.js"></script>
<script src="/public/js/vote.js"></script>