<h1>Welcome, {{{name}}}!</h1>
<h3>Classes</h3>
{{#if instructor}}
<a href="/class/new">Create a class</a>
{{else}}
<a href="/class/join">Join a class</a>
{{/if}}
<ul class="class-list">
    {{#each classes}}
    <li id="{{{id}}}">{{{name}}}</li>
    {{else}}
    {{#if instructor}}
    <h3><a href="/class/new">Create a class</a></h3>
    {{else}}
    <h3><a href="/class/join">Join a class</a></h3>
    {{/if}}
    {{/each}}
</ul>
<a>Create a post</a>
<ul class="post-list">
    <h3>Select a class to view posts</h3>
</ul>
<a href="/logout">Log Out</a>