<link rel="stylesheet" href="/public/styles/dashboard.css">

<!-- Page Content -->

<div class="left cornsilk">
    <h1>Welcome, {{{name}}}!</h1>
    <h3>Classes</h3>
    {{#if instructor}}
    <a href="/class/new">Create a class</a>
    teacher page
    {{else}}
    <a href="/class/join">Join a class</a>
    {{/if}}
    <ul class="class-list">
        {{#each classes}}
        <li id="{{{id}}}">{{{name}}}</li>
        {{else}}
        {{#if instructor}}
        <h3><a href="/class/new">Create a class</a></h3>
        {{else}}
        <h3><a href="/class/join">Join a class</a></h3>
        {{/if}}
        {{/each}}
    </ul>
    
</div>

<div class="right cornsilk">
    <div class="post-container">
        <h3>Select a class to view posts</h3>
    </div>
</div>

<!-- Scripts -->
<script src="/public/js/get_class_posts.js"></script>