<link rel="stylesheet" href="/public/styles/dashboard.css">

<!-- Page Content -->
<div class="left cornsilk" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <h1 style="text-align: center;">Welcome, {{{name}}}!</h1>
    <div class="Join">
        {{#if instructor}}
        <a href="/class/new" class="Join_Text">Create New Class</a>
        {{else}}
        <a href="/class/join" class="Join_Text">Join New Class</a>
        {{/if}}
    </div>


    <h2 style="text-align: center;">Enrolled Classes</h2>
    <ul class="class-list">
        {{#each classes}}
        <li class="Classes" id="{{{id}}}">{{{name}}}</li>
        {{else}}
        {{#if instructor}}
        <h3><a href="/class/new">Create a class</a></h3>
        {{else}}
        <h3><a href="/class/join">Join a class</a></h3>
        {{/if}}
        {{/each}}
    </ul>



</div>

<div class="right cornsilk" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div class="post-container">
        <h2>Select a class to view posts</h2>
        <img src="/public/img/select.svg">
    </div>
</div>

<!-- Scripts -->
<script src="/public/js/get_class_posts.js"></script>
<script src="/public/js/scripts/post.js"></script>