<link rel="stylesheet" href="/public/styles/edit_post.css">


<form id="edit-post-form" action="/post/edit" method="POST">
    <label for="post-title">Post Title</label>
    <input type="text" name="post-title" id="post-title" value="{{{post.name}}}">
    <label for="post-content">Post Content</label>
    <textarea name="post-content" id="post-content" cols="30" rows="10">{{{post.content}}}</textarea>
        <label for="tag-input">Tags</label>
    <select id="select-tag" multiple>
        <option value="" disabled selected>No tag selected</option>
        {{#each class.tags}}
        <option value="Tag">{{this}}</option>
        {{/each}}
    </select>

    
    
    <input type="hidden" name="post-id" id="post-id" value="{{{post._id}}}"> 
    <button type="submit">Submit</button>
</form>
<div id="edit-post-error" hidden>
    <ul id="edit-post-error-list">

    </ul>
</div>

<ul>
    {{#each post.tags}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<script src="/public/js/scripts/edit_post.js"></script>
<script src="/public/js/scripts/edit_post_tags.js"></script>
