<link rel="stylesheet" href="/public/styles/new_post.css">

<div class="container cornsilk">


    {{#if error}}
    <h1>Sorry, an error occurred</h1>
    <h3>{{{error}}}</h3>
    {{else}}
    <h2>New Post for {{{class.name}}}</h2>
    <form id="new-post-form" action="/post/new" method="POST">
        <div>
            <label for="post-name">Post Title</label>
            <input type="text" name="post-name" id="post-name">
        </div>
        <div>
            <label for="post-description">Post Body</label>
            <textarea name="post-description" id="post-description" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label for="post-tags">Post tags</label>
            <select id="select-tag" multiple>
                <option value="" disabled selected>No tag selected</option>
                {{#each class.tags}}
                <option value="Tag">{{this}}</option>
                {{/each}}
            </select>

        </div>


        <input type="hidden" name="post-class" id="post-class" value={{{classID}}}>

        <div hidden id="similar-posts"></div>
        <button id="submit-post" type="submit">Post</button>
    </form>
    <div id="new-post-error" hidden>
        <ul id="new-post-error-list">

        </ul>
    </div>
    {{/if}}

</div>
<script src="/public/js/scripts/new_post.js"></script>