{{#if error}}
<h1>{{{error}}}</h1>
{{else}}


<div id="{{{post._id}}}">
    <h1>{{{post.title}}}</h1>
    {{#if isAuthor}}
    <a href="/post/edit/{{postId}}">Edit this post</a>
    {{/if}}
    <div class="post-body">
        {{{post.content}}}
    </div>
    <ul class="comments">
        {{#each post.comments}}
        <li id="{{{_id}}}">
            {{{content}}} by {{{author}}} on {{{time_submitted}}}
            {{#if ../instructor}}
            {{#if endorse}}
            <button class='endorse-comment-button' id="unendorse">Un-endorse</button>
            {{else}}
            <button class='endorse-comment-button' id="endorse">Endorse</button>
            {{/if}}
            {{/if}}
        </li>
        {{/each}}
    </ul>
    <form class="comment-form" action="/api/comment" method="POST">
        <input type="text" name="comment-content" id="comment-content">
        <input type="hidden" name="parent-id" id="parent-id" value="{{{postId}}}">
        <button type="submit">Post</button>
    </form>
    <div id="comment-error" hidden>
        <ul id="comment-error-list">

        </ul>
    </div>
    {{#if instructor}}
    {{#if post.endorse}}
    <button class='endorse-button' id="unendorse">Un-endorse Post</button>
    {{else}}
    <button class='endorse-button' id="endorse">Endorse Post</button>
    {{/if}}
    {{/if}}
</div>
{{/if}}
<script src="/public/js/scripts/post.js"></script>
<script src="/public/js/endorse.js"></script>
<script src="/public/js/endorse_comment.js"></script>