<link rel="stylesheet" href="/public/styles/dashboard-right.css">

<div class="pcontainer cornsilk">
    {{#if error}}
    <h1>{{{error}}}</h1>
    {{else}}


    {{#if endorse}}
    <div>
        {{else}}
        <div class="View3">
            {{/if}}
            <h1>{{{post.title}}}</h1>
            <div class="feedback" id="feedback-{{post._id}}">
                <span class="score" id="post-score-{{{post._id}}}">{{{post.score}}}</span>
                {{#if instructor}}
                {{#if post.endorse}}
                <button class='endorse-button' id="unendorse-{{{post._id}}}">Un-endorse Post</button>
                {{else}}
                <button class='endorse-button' id="endorse-{{{post._id}}}">Endorse Post</button>
                {{/if}}
                {{else}}
                {{#if upvoted}}
                <div class="vote-button" id="unupvote-{{{post._id}}}"><img src="/public/img/full_like.svg"
                        class="like_button" alt="Remove Upvote Button"></div>
                {{else}}
                <div class="vote-button" id="upvote-{{{post._id}}}"><img src="/public/img/empty_like.svg"
                        class="like_button" alt="Upvote Button"></div>
                {{/if}}
                {{/if}}
            </div>
            {{#if isAuthor}}
            <a href="/post/edit/{{postId}}">Edit this post</a>
            {{else if instructor}}
           <a href="/post/edit/{{postId}}">Edit this post</a> 
           {{else}}
           <p>Take the time to comment or upvote!</p>
            {{/if}}
            <div class="post-body">
                {{{post.content}}}
                <p>Tags: {{{post.tags}}}</p>
            </div>
            <p>Comments:</p>
            <ul class="comments">
                {{#each post.comments}}

                {{#if endorse}}
                <li class="comment-endorse" id="comment-{{_id}}">
                    {{else}}
                <li id="comment-{{_id}}">
                    {{/if}}
                    {{{content}}} by <a href="/user/{{{authorId}}}">{{{author}}}</a> on {{{time_submitted}}}
                    <span class="score" id="comment-score-{{{_id}}}">{{{score}}}</span>
                    {{#if ../instructor}}
                    {{#if endorse}}
                    <button class='endorse-comment-button' id="unendorse-{{{_id}}}">Un-endorse</button>
                    {{else}}
                    <button class='endorse-comment-button' id="endorse-{{{_id}}}">Endorse</button>
                    {{/if}}
                    {{else}}
                    {{#if upvoted}}
                    <div class="vote-comment-button" id="unupvote-{{{_id}}}"><img src="/public/img/full_like.svg"
                            class="like_button" alt="Remove Upvote Button"></div>
                    {{else}}
                    <div class="vote-comment-button" id="upvote-{{{_id}}}"><img src="/public/img/empty_like.svg"
                            class="like_button" alt="Upvote Button"></div>
                    {{/if}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            <form class="comment-form" action="/api/comment" method="POST">
                <label for="comment-content">Type a comment:</label>
                <input type="text" name="comment-content" id="comment-content">
                <input type="hidden" name="parent-id" id="parent-id" value="{{{postId}}}">
                <button type="submit">Post</button>
            </form>
            <div id="comment-error" hidden>
                <ul id="comment-error-list">

                </ul>
            </div>


        </div>
    </div>
    {{/if}}
    <script src="/public/js/scripts/post.js"></script>
    <script src="/public/js/endorse.js"></script>
    <script src="/public/js/endorse_comment.js"></script>
    <script src="/public/js/vote.js"></script>