<link rel="stylesheet" href="/public/styles/join_class.css">

<div class="container cornsilk">
    <div class="graphic">
        <img src="/public/img/profile.svg" alt="profile" style="width: 100%;">
    </div>
    <div class="profilecol white">


        <div>
            {{#if error}}
            <h1>We're sorry, an error occurred.</h1>
            <h3>{{{error}}}</h3>
            {{else}}
            <div style="display: flex; ">
                <div style="margin: auto;">
                    <a href="/user/edit">
                        <img src="/public/img/edit_prof.svg" alt="editprof" style="height: 40px; margin:auto;">
                    </a>
                    <h1 style="margin:auto; margin-right: 10px;">{{{user.fullName}}}</h1>
                    {{#if editable}}

                </div>

            </div>

            {{/if}}
            <h2>{{{user.type}}}</h3>
                <p>{{{user.description}}}</p>
                <h3>Participation</h3>
                <div>
                    <span>{{{user.classes.length}}}</span> classes
                    <span>{{{user.posts.length}}}</span> posts
                    <span>{{{user.comments.length}}}</span> comments
                </div>
                {{/if}}
        </div>

    </div>

</div>